.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

<<<<<<< Updated upstream
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
=======
.header {

  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 10%;
 
>>>>>>> Stashed changes
}
.pic{
  margin-top: 20px;
  height: 50px;
  width: 80px;
  float: left;
  margin-left:10px;
}
.LogOut{
  margin-top: 20px;
  height: 50px;
  width: 80px;
  float: left;
  margin-left:30px;
}
.home{
  margin-top: 20px;
  height: 50px;
  width: 80px;
  float: right;
  margin-right:10px;
}
.Agodit{
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
